body{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    display: flex;
    background-color: #000000 !important;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 9vh;
    opacity: 0.7;
}

.navbar-other{
    display: flex;
    background-color: #fff !important;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 9vh;
    opacity: 0.8;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.navbar .nav-item a{
    font-size: 20px;
    font-weight: 100;
}


.navbar .nav-item a:hover{
    border: 2px solid rgb(196, 196, 196);
    transition-duration: 300ms;
}

.navbar-brand{
    font-size: 30px;
    margin-left: 5vw;
    border: 0px !important;
    border-radius: 25px;
}

.container-fluid .navbar-brand:hover{
    /* color: #000000 !important;
    background-color: white;
    border-radius: 25px;
    font-size: 35px; */
    font-size: 40px;
}

.container{
    margin-top: 12vh;
}

.container-fluid a{
    color: white !important;
    padding: 12px;
    border: 2px solid #000000;
    transition-duration: 300ms;
}

.container-fluid-other a{
    color: black !important;
    padding: 12px;
    border: 2px solid #fff;
    transition-duration: 300ms;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./../images/header-background.jpg");
    background-position: center;
    background-size: cover;
}

#header-courses-container{
    margin-top: 9vh;
    display: flex;
    justify-content: flex-start;
    padding-left: 7vw;
    align-items: center;
    height: 13vh;
    background-color: #2c2c2c;
}

#header-courses-container h1{
    font-weight: 500;
    font-size: 35px;
    color: white;
}

.header-container h1{
    text-align: right;
    margin-right: 25vw;
    width: 200px;
    font-size: 35px;
}

header h1{
    font-weight: 500;
    font-size: 55px;
    color: white;
}

header p,
#header-courses-container p{
    color: white;
}

header a{
    margin-right: 25vw !important;
}

header a,
#header-courses-container a{
    font-size: 20px;
	color: #fff;
	margin: 20px;
	padding: 15px 35px;
	background-color: transparent;
	border: 2px solid white;
	display: flex;
    align-items: center;
	cursor: pointer;
    text-decoration: none;
    transition-duration: 500ms;
}

.test:hover,
header a:hover{
	background-color: #fff;
    border-color: #fff;
    opacity: 0.9;
    color: #000;
	transition-duration: 500ms;
}

.second-page{
    margin-top: 130px;
}

.taglines-container{
    margin-top: 55px;
}

.taglines-header{
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 55px;
    color: #5f5f5f
}

.taglines-item{
    margin: 20vh 3vh;
}

.taglines-item2{
    margin: 5vh 3vh;
}

.taglines-item3{
    margin: 15vh 3vh;
}

.taglines-item1-image{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.taglines-item3-image{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.taglines-item1-image img{
    width: 350px;
}

.taglines-item3-image img{
    width: 450px;
}

.taglines-item1-desc{
    padding-top: 25px;
    color: #5f5f5f;
}

.taglines-item2-desc{
    padding-top: 80px;
    color: #5f5f5f;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.course-image-ph img{
    width: 550px;
    height: 350px;
    /*background-image: url("./../images/IMG_1142.jpg");*/
    border-radius: 25px;
    background-size: cover;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.image-odd{
    display: flex;
    justify-content: flex-end;
}

.image-even{
    display: flex;
    justify-content: flex-start;
}

.course-details-container-even{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    padding-right: 60px;
}

.course-details-container-odd{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 60px;
    color: #5f5f5f;
}

.course-container{
    display: flex;
    height: 60vh;
    align-items: center;
}

.darkblue-bg {
    background-color: #f8f8f8;
}

#h1-even, #span-even, #price-even{
    color: #5f5f5f;
}

#span-even, #span-odd, #price-even, #price-odd{
    font-weight: 100;
    font-size: 20px;
}

.course-buttons {
    height: 20px;
    width: 100%;
    background-color: rgb(250, 57, 57);
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 50px;
    border: 2px solid #5f5f5f;
}

.admin-button a,
.button-container a{
    text-decoration: none;
    color: #5f5f5f;
    font-size: 20px;
    font-weight: 500px;
}

.svg-arrow {
	height: 30px;
    margin-left: 20px;
	transition-duration: 500ms;
}

#header-courses-container a:hover .svg-arrow{
	transition-duration: 500ms;
	transform: rotate(90deg);
}

.admin-button:hover a{
    color:white;
    transition-duration: 500ms;
}

.admin-button:hover{
    background-color: #5f5f5f;
    transition-duration: 500ms;
}

.button-container:hover a{
    color:white;
    transition-duration: 500ms;
}

.button-container:hover{
    background-color:black;
    transition-duration: 500ms;
}


#registerForm{
    margin-top: 40px;
    width: 400px;
}

.admin-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border: 2px solid #5f5f5f;
    margin: 5px;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./../images/kelly-sikkema-7hspi6m0yO4-unsplash.jpg");
    background-size: cover;
    background-position-x: left;
    background-position-y: -60px;
}

.test{
    margin: 50px !important;
}

.admin-button-container{
    display: flex;
    
}

.test{
    font-size: 20px;
    color: #fff;
    margin: 20px;
    padding: 15px 35px;
    background-color: transparent;
    border: 2px solid white;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 500ms;
}

.alert-login {
    position: absolute;
    width: 400px;
    top: -80px;
}

.alert-users{
    position: absolute;
    top: -5px;
    height: 50px;

}

.login-container-2{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container-2 label{
    color: white;
}

.login-container-2 h1{
    color: white;
}

.add-course-container{
    margin-top: 20px;
    width:100vw;
    display:flex;
    justify-content: center;
    border-bottom: 2px solid rgb(238, 238, 238)
}

.logout-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.login-form-container{
    display: flex;
    height: 80vh;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
}

#createCourse,
#profileContainer,
#editCourse,
#usersContainer{
    position: relative;
    height: 80vh;
    margin-top: 11vh;
}

#deleteCourse{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

#courseContainer {
    margin-top: 10vh;
}

.footer {
    background-color: #000000 !important;
    width: 100vw;
    height: 70px;
    bottom: 0;
}

.registration-container{
    background-image: url("./../images/hand-holding-pencil-with-copy-space.jpg");
    background-size: cover;
    margin-top: 10vh;
    height: 90vh;
}

.course-picture-container{
    width: 350px;
    height: 230px;

}

.registration-form-container{
    margin-left: 40vw;
}

.user-picture-container {
    width: 230px;
    height: 230px;
    
}

.course-picture-container img,
.user-picture-container img{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 15px;
    margin-top: 5vh;
    width: 100%;
}

.user-name-email-container{
    margin-top: 3vh;
}

.user-name-email-container span{
    font-size: 35px;
    font-weight: 500;
    color: #5f5f5f;
}

#courseDetailsContainer{
    padding: 50px;

}

.course-name-container{
    margin-bottom: 50px;
}

.course-name-container p{
    font-size: 20px;
    font-weight: 500;
    color: #5f5f5f;
    text-align: left;
}
.user-name-email-container p{
    font-size: 20px;
    font-weight: 100;
}

.user-details-border{
    border-right: 2px solid #d1d1d1;
}

.history-header-container{
    margin: 3vh 0 3vh 0;
    color: #5f5f5f;
    display: flex;
    justify-content: center;
}

.history-container{
    padding-left: 50px;
}

.table{
    color: #5f5f5f;
}

.main-container-course {
    margin-top: 12vh !important;
    height: 75vh;
}


.footer-logout,
.footer-delete{
    background-color: #000000 !important;
    width: 100vw;
    height: 70px;
    bottom: 0;
    position: fixed;
}